body {
  background-color: #f9f7fe;
  font-family: "Fasthand", cursive;
  font-family: "Grape Nuts", cursive;
  font-family: "Nova Square", sans-serif;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/112/351/original/amazing-beautiful-sky-with-clouds.jpg?1706294711");
  background-size: cover;
  background-repeat: no-repeat;
}

a {
  color: #800000;
  transition: all 200ms ease;
}

a:hover {
  color: rgb(128, 0, 0, 0.5);
}